<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Game Of Life</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/external.css">
    <!-- <link rel="stylesheet" href="/stylesheets/portfolioLanding.css"> -->
  </head>

  <body>

    <iframe src="https://s.codepen.io/HendrikBD/debug/OvWKbR/wQAPoNYqmGEr" class="ext"></iframe>
    <a href="/"><div class="portRet">Return to Portfolio</div></a>

    <script src="/scripts/life.js"></script>

  </body>

</html>
