<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Benjamin Danen</title>
    <meta charset="utf-8">
    
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Merriweather:400,700|Shrikhand'>
    <link rel="stylesheet" href="/stylesheets/portfolioLanding.css">
    <link rel="icon" href="https://cdn.glitch.com/f9f1cb62-3c58-4034-9015-b33d618d38d5%2FportLogo.png?1526586599432">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="navBar">

      <a class="navbar-brand" id="bhd">BHD</a>

      <ul class="navbar-nav ml-auto">

          <li class="nav-item"><a class="nav-link" href="#">About Me</a></li>
          <li class="nav-item"><a class="nav-link" href="#portJump">Portfolio</a></li>
          <li class="nav-item"><a class="nav-link" href="#contactJump">Contact</a></li>
      </ul>
 
    </nav>

    <div class="row" id="mainCont">
            <div class="col-9" id="intro">
                    <div id="header" class="container-fluid row align-items-center">
                            <div class="col-md-9 col-sm-12">

                                    <!-- <p> Welcome to my page! My name is Benjamin Danen, and if your reading this, I've likely applied to work for your company. Take a look around, I've put together several websites while learning web development as seen below. Feel free to contact me if you have any questions.</p> -->
                                    <p> Welcome to my page! My name is Benjamin Danen, and if your reading this, I've likely applied to work for your company. I've put together several websites while learning web development, so take a look around. Feel free to contact me if you have any questions.</p>

                                    <div class="hr"><i class="fa fa-code" id="codeSym"></i></div>

                                    <p>Front End Developer - Engineer - Overall Okay Guy</p>

                            </div>

                            <div class="col-md-3 col-sm-12">
                                    <img id="bhd-thumb" class="mr-auto" src="https://res.cloudinary.com/dg4m3ri3a/image/upload/v1525983376/bhd_thumb.png">
                            </div>
                    </div>
            </div>

            <div class="col-9" id="port">
                    <h1 class="text-center title" id="portJump">Portfolio</h1>

                    <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 cardCont">
                                    <div class="card">

                                    <a href="/yelpcamp">
                                            <img class="portImg" src="https://cdn.glitch.com/f9f1cb62-3c58-4034-9015-b33d618d38d5%2FYelpCamp.png?1527012447823">

                                            <div class="portTitle">
                                                    YelpCamp
                                            </div>

                                            <div class="tags">
                                                    <div class="tag">HTML</div>
                                                    <div class="tag">CSS</div>
                                                    <div class="tag">JavaScript</div>
                                                    <div class="tag">NodeJs</div>
                                                    <div class="tag">MongoDB</div>
                                                    <div class="tag">Passport</div>
                                            </div>
                                    </a>
                                    </div>


                            </div>


                            <div class="col-lg-4 col-md-6 col-sm-12 cardCont">
                                    <div class="card">
                                            <a href="/gameOfLife">
                                                    <img class="portImg" src="https://cdn.glitch.com/f9f1cb62-3c58-4034-9015-b33d618d38d5%2FgameOfLife.png?1527012442884">
                                    

                                            <div class="portTitle">
                                                   Game of Life 
                                            </div>

                                            <div class="tags">
                                                    <div class="tag">HTML</div>
                                                    <div class="tag">CSS</div>
                                                    <div class="tag">JavaScript</div>
                                                    <div class="tag">ReatJS</div>
                                            </div>

                                    </a>
                                    </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 cardCont">
                                                    <div class="card">
                                                            <a href="/hopper">
                                                                    <img class="portImg" src="https://cdn.glitch.com/f9f1cb62-3c58-4034-9015-b33d618d38d5%2Fhopper.png?1530213897153">

                                                                    <div class="portTitle">
                                                                            Hopper
                                                                    </div>

                                            <div class="tags">
                                                    <div class="tag">HTML</div>
                                                    <div class="tag">CSS</div>
                                                    <div class="tag">JavaScript</div>
                                                    <div class="tag">AJAX</div>
                                                    <div class="tag">PWA</div>
                                            </div>

                                                            </a>
                                                    </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 cardCont">
                                                    <div class="card">
                                                            <a href="/ballotBox">
                                                                    <img class="portImg" src="https://cdn.glitch.com/f9f1cb62-3c58-4034-9015-b33d618d38d5%2FballotBox.png?1527012417820">

                                                                    <div class="portTitle">
                                                  Ballot Box 
                                            </div>

                                            <div class="tags">
                                                    <div class="tag">HTML</div>
                                                    <div class="tag">CSS</div>
                                                    <div class="tag">JavaScript</div>
                                                    <div class="tag">NodeJS</div>
                                                    <div class="tag">MongoDB</div>
                                            </div>

                                                            </a>
                                                    </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 cardCont">
                                    <div class="card">
                                            <a href="/simon">
                                                    <img class="portImg" src="https://cdn.glitch.com/f9f1cb62-3c58-4034-9015-b33d618d38d5%2Fsimon.png?1527012425536">

                                    
                                            <div class="portTitle">
                                                  Simon 
                                            </div>

                                            <div class="tags">
                                                    <div class="tag">HTML</div>
                                                    <div class="tag">CSS</div>
                                                    <div class="tag">JavaScript</div>
                                            </div>

                                    </a>
                                    </div>
                            </div>


                            <div class="col-lg-4 col-md-6 col-sm-12 cardCont">
                                            <div class="card">
                                                    <a href="/colorGame">
                                                            <img class="portImg" src="https://cdn.glitch.com/f9f1cb62-3c58-4034-9015-b33d618d38d5%2FcolorGame.png?1527012419224">
                                                                                        <div class="portTitle">
                                                 Color Game 
                                            </div>

                                            <div class="tags">
                                                    <div class="tag">HTML</div>
                                                    <div class="tag">CSS</div>
                                                    <div class="tag">JavaScript</div>
                                            </div>

                                            </a>
                                            </div>
                                    </div>

                    </div>
            </div>

            <div class="col-9" id="contact">
                    <h1 class="text-center title" id="contactJump">Contact Me</h1>

                    <div class="row">

                            <div class="col-md-6">
                                    <!-- <form action="/email" method="POST"> -->
                                    <form action="https://bhd-email.glitch.me/" method="POST">
                                            <input type="text" placeholder="Name" class="form-control" name="name">
                                            <input type="text" placeholder="Email Address" class="form-control" name="email">
                                            <input type="text" placeholder="Phone Number" class="form-control" name="phone">
                                            <textarea placeholder="Message" class="form-control" name="message"></textarea>
                                            <div class="row justify-content-md-center"><div class="col-md-4"><button class="subBtn">Submit!</button></div></div>
                                    </form>
                            </div>

                            <div class="col-md-6">
                                    <!-- <p>Feel free to drop me a line, but full disclosure, this form doesn't actually work... So that's kinda too bad. Feel free to check out my pages below though!</p> -->
                                    <p class="text-center">If you have any questions or would like to contact me for an interview, don't hesitate to ask.</p>
                                    <div class="hr"><i class="fa fa-code" id="codeSym"></i></div>
                                    <p class="text-center">Thanks for stopping by!</p>
                            </div>

                    </div>
            </div>


            <div class="container-fluid" id="footer">
                    <div class="row">
                            <div class="col-md-8" id="footText">

                                    <div class="row">
                                            <div class="col-md-6">
                                                    <div class="container">
                                                            <div><h5>ABOUT THIS PAGE:</h3></div>
                                                            <div>Made by Benjamin H. Danen</div>
                                                    </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div><h5>AROUND THE WEB:</h5></div>
                                                    <div class="extLinks">
                                                            <div class="icon"><a href="https://github.com/HendrikBD"> <i class="fa fa-github"></i> </a></div>
                                                            <div class="icon"><a href="https://codepen.io/HendrikBD"><i class="fa fa-codepen"></i></a></div>
                                                            <div class="icon"><a href="https://www.linkedin.com/in/benjamindanen/"><i class="fa fa-linkedin"></i></a></div>
                                                    </div>
                                            </div>

                                    </div>
                            </div>
                    </div>




  </body>

</html>
