<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Simon</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/external.css">
    <link rel="stylesheet" href="/stylesheets/simon.css">
  </head>

  <body>

    <!-- <iframe src="https://s.codepen.io/HendrikBD/debug/bvVdQv/NjMYzqKXdwor" class="ext"></iframe> -->

    <div id="spacing">&nbsp</div>

    <div id="simon">

            <div class="btn green">&nbsp</div>
            <div class="btn red">&nbsp</div>
            <div class="btn yellow">&nbsp</div>
            <div class="btn blue">&nbsp</div>

            <div class="hor cover">&nbsp</div>
            <div class="vert cover">&nbsp</div>

            <div class="mid cover">
                    <div id="menu">
                            <div class="title">Simon</div>

                            <div class="btns">

                                    <div class="disp off">
                                            <div><div></div></div>
                                            Count
                                    </div>

                                    <div class="start">
                                            <div>&nbsp</div>
                                            Start
                                    </div>

                                    <div class="strict">
                                            <div>&nbsp</div>
                                            <div>&nbsp</div>
                                            Strict
                                    </div>
                            </div>

                            <div class="onSwitch">
                                    <div>&nbsp</div>
                            </div>
                            <div class="onText">Off &nbsp/&nbsp On</div>



                    </div>  
            </div>





    </div>

    <a href="/"><div class="portRet">Return to Portfolio</div></a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/simon.js"></script>

  </body>

</html>
