.ext {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0 solid black;
}

.portRet {
  position: fixed;
  bottom: 3%;
  right: 3%;
  padding: 10px;
  border: 1px solid #2A3132;
  border-radius: 15px;
  background: #336B87;
  color: #EDEAE3;
  /* cursor: pointer; */
}
